.menu{
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu li{
    position: fixed;
    list-style: none;
    right: 4.5rem;
    bottom: 4rem;
    transform-origin: 100px;
    transition: 0.7s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg);
}

.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #3a62a8;
    background: #000418;
    border-radius: 50%;
    transform: rotate(calc(0deg / -4 * var(--i)));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    font-size: 2rem;
}

.menu.active li{
    bottom: 8rem;
    transform: translateY(calc(-15rem / 4 * var(--i)));
}

.toggle{
    bottom: 3rem;
    right: 3.8rem;
    z-index: 1000;
    position: fixed;
    width: 60px;
    height: 60px;
    color: white;
    background: #000418;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    transition: transform 1s;
}

.menu.active .toggle{
    transform: rotate(315deg);
}

@media (max-width: 800px){
    .toggle{
        right: 1.8rem;
        bottom: 2.2rem;
    }

    .menu li{
        right: 2.5rem;
        bottom: 2.4rem;
    }

    .menu.active li{
        bottom: 7rem;
        transform: translateY(calc(-15rem / 4 * var(--i)));
    }
}