*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    z-index: 1;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out box-shadow;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 4rem;
    width: 75rem;
}

h1{
    margin-left: 2rem;
    font-size: 1.40rem;
    color: #00f2f2;
}

nav ul{
    display: flex;
    flex-direction: row;
    width: 23rem;
    justify-content: space-around;
}

nav ul li{
    display: flex;
}

nav ul li a{
    display: flex;
    color: #ffffff;
    position: relative;
}

nav ul li{
    display: flex;
}

nav ul li a:after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #00f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a{
    text-decoration: none;
}

.active_nav{
    background-color: #000418;
}

#contact{
    color: #010000;
    background-color: #00f2f2;
    border: none;
    padding: 0.50rem;
    margin-right: 2rem;
    border-radius: 2rem;
}

#contact:hover{
    background-color: #01afaf;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3d3c4a;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #4c81db;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3a62a8;
}