footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99.5%;
    height: 2rem;
    background-color: #010720;
    color: white;
}

footer > p{
    margin-left: 1.4rem;
}

ul{
    display: flex;
    width: 14rem;
    list-style: none;
    justify-content: space-around;
}

ul li a{
    color: white;
    text-decoration: none;
}

ul li a:hover{
    color: #01afaf;
}